<title>{{.seo.Title}}</title>
<mete name="keywords" value="{{.seo.Keywords}}"/>
<mete name="description" value="{{.seo.Description}}"/>
 <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/bt/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/hiicup.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/bt/js/bootstrap.min.js"></script>