<title>{{.seo.Title}}</title>
<mete name="keywords" value="{{.seo.Keywords}}"/>
<mete name="description" value="{{.seo.Description}}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
 <!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/static/bt/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/hiicup.css">
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="/static/bt/js/bootstrap.min.js"></script>