<nav class="navbar navbar-default navbar-fixed-top -navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      	
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class=""><a href="/">Hiicup的笔记 <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">关于Hiicup</a></li>
        <li>
          
        </li>
      </ul>
      <div class="nav navbar-nav navbar-right">
      <form class="navbar-form" role="search" method="get" action="/">
            <div class="form-group">
              <input type="text" class="form-control" name="w" placeholder="描述一下" value="{{.w}}">
            </div>
            <button type="submit" class="btn btn-default">猛击此处</button>
          </form>
        <!-- <img src="/static/shi.png" style="margin-top:15px;margin-right:50px;"> -->
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<style type="text/css">
  body{
    /*background: #eee;*/
  }
  .navbar-brand img{
      margin-top: 10px;
      margin-right: 10px;
      margin-left: 20px;
  }
</style>