
body{
	/*font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif,'Microsoft YaHei',Monaco,sans-serif;*/
	font-family: Monaco,'Microsoft YaHei',Arial, sans-serif;
	/*normal 14px/1.6 */
	padding:70px 0;
	background-color: beige;
}
blockquote{
	font-size: 14px;
	background-color: rgba(238, 238, 238, 0.28);
}
.f12{
	font-size: 12px;
}
.mb10{
	margin-bottom: 10px;
}

.info{
	font-size: 12px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}

h4.article-title a{
	color: #666;
}

article .label{
	font-weight: normal;
	font-size: 12px;
}

.navbar-brand{
	padding: 0;
}

.index-article{
	margin-left: 5px;
	background: white;
	border-radius: 3px;
}

.page-wrap{
	margin-top: 10px;
	margin-left: 5px;
}

.page-wrap .pagination{
	margin: 0;
}

article.detail{
	padding: 10px;
	padding-top: 0;
	background-color: white;
	border-radius: 3px;
}

article.detail p{
	font-size: 16px;
}

article.detail pre{
	border:none;
}

article.detail pre code{
	padding: 0.5em 1em;
	line-height: 200%;
	font-family: Menlo,Monaco,Consolas,"Courier New",'Microsoft YaHei';
}

article.detail .content{
}

.hljs{
	padding-top: 0;
}
pre{
	padding: 0;
}

.breadcrumb{
	margin-bottom: 10px;
	background: white;
}

.content img{
	max-width: 100%;
	height: auto;
}

.detail-head{
	padding-top: 5px;
}

.label-muted{
	/*background: #eee;*/
	color:#999;
	padding: 1px 2px;
	border-radius: 2px;
}
.label-muted a{
	color: #999;
}
.panell{
	padding: 2px 5px;
	border-radius: 5px;
}
.panell:hover{
	background: #fafafa;
}